body {
    font-family: Arial, sans-serif;
    background: url('./img/background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

header {
    color: white;
    padding: 20px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Espaçamento entre a imagem e o título */
}

.profile-image {
    border-radius: 50%; /* Torna a imagem arredondada */
    width: 60px; /* Tamanho da imagem */
    height: 60px; /* Tamanho da imagem */
    object-fit: cover; /* Ajusta a imagem para preencher o container */
}

.linkedin-link {
    display: block;
    color: #007bff;
    margin-top: 10px;
    text-decoration: none;
    font-weight: bold;
}

.linkedin-link:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    margin: 80px 20px 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input, textarea {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

button:hover {
    background-color: #0056b3;
}

#errorMessages {
    color: red;
}

#reposList {
    list-style: none;
    padding: 0;
}